body {
  font-family: Arial, sans-serif;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #000;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #000;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}
